{% extends 'blog/base.html' %}
{% block title %}
    <title>添加文章</title>
{% endblock %}

{% block left %}
    <div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {{ af.media }}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ af }}
                    <br>
                    <div class="col-md-3 col-md-offset-9">
                        <input style="width: 150px" type="submit" class="btn btn-success">
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
{% endblock %}

