@charset "utf-8";
/* CSS Document */

/*---地图抢单css------------------*/
.map-box {
	margin-bottom: 50px;
}

.map-left {
	float: left;
	margin-right: 10px;
	width: 301px;
}

.map-left-1 {
	border-radius: 5px;
	border: 1px solid #cecece;
	padding: 5px;
}

.map-left-1 li {
	border-right: 1px solid #cecece;
	width: 133px;
	float: left;
	text-align: center;
	font-size: 16px;
}

.map-left-2 {
	padding: 15px;
}

.map-left-2 li {
	margin-top: 15px;
}

.map-left-div1 {
	border-bottom: 1px solid #e3e3e3;
	padding: 10px 0;
	height: 58px;
}

.map-left-div1 img {
	float: left;
	margin-right: 10px;
}

.map-left-div1 .map-p1 {
	width: 120px;
	float: left;
}

.map-left-div1 .map-p1 strong {
	font-size: 16px;
	color: #353535;
	display: block;
}

.map-left-div1 .map-p1 span {
	font-size: 16px;
	color: #353535;
	display: block;
	font-size: 14px;
}

.map-left-div1 .map-p2 {
	width: 80px;
	float: right;
	color: #aeaeae;
	font-size: 13px;
	text-align: right;
	font-size: 13px;
}

.map-left-div2 {
	border-bottom: 1px solid #e3e3e3;
	line-height: 48px;
	height: 48px;
	font-size: 14px;
	color: #727272;
}

.map-left-div3 {
	margin-top: 15px;
}

.map-left-div3 p {
	float: left;
	margin-right: 10px;
	color: #b7b7b7;
	width: 140px;
	margin-right: 20px;
}

.map-left-div3 .map-btn1 {
	background: url(../images/personal/map_btn1.png) no-repeat;
	width: 96px;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	font-size: 16px;
	border: none;
}

.map-left-3 {
	line-height: 48px;
	height: 48px;
	margin-top: 20px;
}

.map-left-3 dl {
	
}

.map-left-3 dl dt {
	width: 78px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border: 1px solid #e1e1e1;
	float: left;
	margin-right: 5px;
}

.map-left-3 dl dd {
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border: 1px solid #e1e1e1;
	float: left;
	margin-right: 5px;
}

.map-right {
	float: left;
	width: 820px;
	border: 1px solid #a6a6a6;
}

/* map-g */
.map-g {
	width: 130px;
	margin: 0px;
}

.map-g a {
	text-decoration: none;
	cursor: pointer;
}

.map-g input {
	float: left;
}

.select {
	background: #fff url(../images/personal/bg.png) no-repeat 120px 13px;
	border: 0;
	width: 130px;
	height: 30px;
	line-height: 30px;
	color: #666;
	padding-left: 8px;
	float: left;
	position: relative;
	z-index: 99999;
	font-size: 14px;
}

.select_hover {
	background: #fff url(../images/personal/bg.png) no-repeat 120px -7px;
}

.part {
	left: -5px;
	top: 30px;
	width: 140px;
	padding: 4px 0px 0px;
	line-height: 30px;
	position: absolute;
	z-index: 9999;
	height: auto;
	zoom: 1;
	border-bottom: solid 2px #70b515;
}

.part p {
	overflow: hidden;
	border-left: solid 2px #70b515;
	border-right: solid 2px #70b515;
}

.part p a {
	height: 30px;
	color: #666;
	line-height: 30px;
	width: 140px;
	border-left: solid 1px #f3f3f3;
	border-top: solid 1px #f3f3f3;
	background: #fff;
	display: inline-block;
}

.part a:hover {
	background: #f5f5f5;
	color: #62a315;
}

.part2 {
	right: -22px;
	top: 30px;
	width: 140px;
	padding: 4px 0px 0px;
	line-height: 30px;
	position: absolute;
	z-index: 9999;
	height: auto;
	zoom: 1;
	border-bottom: solid 2px #70b515;
}

.part2 p {
	overflow: hidden;
	border-left: solid 2px #70b515;
	border-right: solid 2px #70b515;
}

.part2 p a {
	height: 30px;
	color: #666;
	line-height: 30px;
	width: 140px;
	border-left: solid 1px #f3f3f3;
	border-top: solid 1px #f3f3f3;
	background: #fff;
	display: inline-block;
}

.part2 a:hover {
	background: #f5f5f5;
	color: #62a315;
}

.enter {
	border: 0;
	width: 348px;
	float: left;
	height: 34px;
	color: #999;
	line-height: 34px;
	padding-left: 5px;
	margin-top: 3px;
	font-size: 14px;
	outline: none;
}

.enters {
	border: 0;
	width: 348px;
	float: left;
	height: 34px;
	color: #333;
	line-height: 34px;
	padding-left: 5px;
	margin-top: 3px;
	font-size: 14px;
	outline: none;
}

.sb {
	background: url(../images/personal/bg.png) no-repeat -31px 0;
	border: 0;
	width: 84px;
	_width: 81px;
	height: 40px;
	cursor: pointer;
}

/*---璁㈠���〃 css------------------*/
.order-list {
	margin-bottom: 50px;
}

.order-list-tit {
	color: #309525;
	font-size: 15px;
	line-height: 40px;
	font-weight: bolder;
}

.order-list-2 {
	border: 1px solid #DDD;
}

.order-list-2 ul {
	background: #f3f3f3;
	height: 40px;
}

.order-list-2 li {
	float: left;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

.ol1-w1 {
	width: 94px;
}

.ol1-w2 {
	width: 80px;
}

.ol1-w3 {
	width: 104px;
}

.ol1-w4 {
	width: 200px;
	padding: 0 10px;
}

.ol1-w5 {
	width: 80px;
}

.ol1-w6 {
	width: 90px;
}

.order-list-2 dl {
	border-bottom: 1px solid #ddd;
}

.order-list-2 dl dd {
	float: left;
	border-right: 1px solid #ebebeb;
	margin: 18px 0;
	text-align: center;
	font-size: 13px;
}

.ol1-co1 {
	color: #28a831;
	line-height: 60px;
	text-transform: uppercase;
}

.ol1-co2 {
	color: #9f9f9f;
	line-height: 60px;
}

.ol1-co3 {
	color: #656565;
	line-height: 60px;
}

.ol1-co4 {
	color: #9f9f9f;
	line-height: 30px;
}

.ol1-co5 {
	color: #656565;
	line-height: 30px;
}

.ol1-co6 {
	color: #54b027;
	line-height: 60px;
}

.ol1-co7 {
	color: #fe620d;
	line-height: 60px;
}

/*---璁㈠�璇�� css------------------*/
.order-details {
	margin-bottom: 50px;
}

.order-details-tit {
	color: #585858;
	font-size: 15px;
	line-height: 40px;
	font-weight: bolder;
}

.order-details-tit span {
	color: #999;
	font-weight: normal;
	font-size: 12px;
}

.order-details-2 {
	border: 1px solid #DDD;
}

.order-details-2-1 {
	
}

.order-details-2-1 ul {
	background: #f3f3f3;
	height: 40px;
}

.order-details-2-1 li {
	float: left;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

.od1-w1 {
	width: 100px;
}

.od1-w2 {
	width: 90px;
}

.od1-w3 {
	width: 110px;
}

.od1-w4 {
	width: 220px;
	padding: 0 15px;
}

.od1-w5 {
	width: 82px;
}

.od1-w6 {
	width: 90px;
}

.order-details-2-1 dl {
	border-bottom: 1px solid #ddd;
	height: 100px;
}

.order-details-2-1 dl dd {
	float: left;
	border-right: 1px solid #ebebeb;
	margin: 18px 0;
	text-align: center;
	font-size: 13px;
}

.od1-co1 {
	color: #28a831;
	line-height: 60px;
	text-transform: uppercase;
}

.od1-co2 {
	color: #9f9f9f;
	line-height: 60px;
}

.od1-co3 {
	color: #656565;
	line-height: 60px;
}

.od1-co4 {
	color: #9f9f9f;
	line-height: 30px;
}

.od1-co5 {
	color: #656565;
	line-height: 30px;
}

.od1-co6 {
	color: #54b027;
	line-height: 60px;
	font-weight: bolder;
	font-size: 15px;
}

.od1-co7 {
	color: #fe620d;
	line-height: 60px;
	font-weight: bolder;
	font-size: 15px;
}

.order-details-2-2 li {
	float: left;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background: #f7fff3;
	width: 285px;
}

.order-details-2-2 dl {
	border-top: 1px solid #ddd;
	height: 40px;
}

.order-details-2-2 dl dd {
	float: left;
	text-align: center;
	height: 40px;
	line-height: 40px;
	width: 284px;
	border-right: 1px solid #ebebeb;
}

.order-details-btn1 {
	margin-top: 15px;
	width: 92px;
	height: 38px;
	line-height: 38px;
	color: #FFF;
	text-align: center;
	background: url(../images/personal/od_btn1.png) no-repeat;
	font-size: 18px;
}

.order-details-btn1 a {
	color: #FFF;
}

.order-details-btn1 a:hover {
	color: #FF0;
}

/*---地址管理css------------------*/
.address {
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	padding-top: 25px;
	margin-bottom: 30px;
}

.ar1 {
	float: left;
	width: 80px;
	margin-right: 65px;
}

.ar1 li {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}

.ar1 li a {
	color: #636363;
}

.ar1 li.ar1_now {
	color: #309525;
	font-weight: bolder;
}

.ar2 {
	width: 995px;
	float: left;
	margin-bottom: 30px;
}

.ar2-tit {
	background: #f3f3f3;
	color: #505050;
	font-size: 14px;
	font-weight: bolder;
	height: 46px;
	line-height: 46px;
	padding-left: 15px;
}

.ar2-tit span {
	color: #7e7e7e;
	font-size: 12px;
	font-weight: normal;
}

.ar2-2 {
	padding: 20px 25px;
}

.ar2-2 p {
	color: #727272;
}

.ar2-2 p em {
	color: #e56120;
	font-style: normal;
}

.ar2-2 ul li {
	padding: 5px 0;
}

.ar2-2 ul li span {
	float: left;
	margin-right: 5px;
	color: #7d7d7d;
	line-height: 25px;
	text-align: right;
	width: 82px;
}

.ar2-2 ul li em {
	float: left;
	margin-right: 10px;
	color: #7d7d7d;
	line-height: 25px;
	text-align: right;
	font-style: normal;
}

.ar2-2 ul li input {
	float: left;
}

.ar2-2 ul li .ar-text1 {
	border: 1px solid #ababab;
	width: 192px;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}

.ar2-2 ul li .ar-text2 {
	border: 1px solid #ababab;
	width: 83px;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	margin-right: 10px;
}

.ar2-2 ul li .ar-text3 {
	border: 1px solid #ababab;
	width: 120px;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}

.ar2-2 ul li .checkbox-1 {
	float: left;
	margin-top: 6px;
}

.ar2-btn1 {
	background: url(../images/personal/forget-submit.png) no-repeat;
	width: 83px;
	height: 41px;
	line-height: 41px;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	float: left;
}

.option {
	border: none;
	width: 94px;
	margin: 0 auto;
}

.SelectDiv1 {
	width: 100px;
	height: 22px;
	line-height: 22px;
	background: transparent;
	position: relative;
	overflow: hidden;
	border: none;
	-webkit-appearance: none;
	z-index: 2;
	border: 1px solid #ababab;
	float: left;
	margin-right: 10px;
}

.SelectDiv2 {
	top: 0px;
	left: 0px;
	width: 117px;
	height: 22px;
	border: none;
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 3;
	background: url(../images/personal/ps-select1.jpg) 78px no-repeat;
	padding-left: 5px;
}

.ar2-2 ul li textarea {
	border: 1px solid #ababab;
	width: 382px;
	height: 64px;
	float: left;
}

.ar2-3 {
	border: 1px solid #e7e7e7;
	margin-top: 42px;
	line-height: 34px;
	color: #6e6e6e;
}

.ar2-3 ul {
	background: #f4f4f4;
	height: 34px;
}

.ar2-3 li {
	float: left;
	padding: 0 15px;
	text-align: center;
}

.ar2-3 dl {
	
}

.ar2-3 dl dd {
	float: left;
	padding: 10px 15px;
	height: 40px;
	text-align: center;
	border-top: 1px solid #e7e7e7;
}

.ar2-w1 {
	width: 90px;
}

.ar2-w2 {
	width: 210px;
}

.ar2-w3 {
	width: 50px;
}

.ar2-w4 {
	width: 80px;
}

.ar2-w5 {
	width: 80px;
}

.ar2-w6 {
	width: 180px;
}

.ar2-w7 {
	width: 80px;
}

.ar2-co1 {
	text-align: left !important;
	line-height: 22px;
}

.ar2-co2 {
	color: #3e9319;
}

.ar2-co3 a {
	color: #e56120;
}

/*---我的账户css------------------*/
.my-account {
	width: 995px;
	float: left;
	height: 774px;
}

.my-account-2 {
	
}

.my-account-2 li {
	
}

.my-account-2 {
	padding: 20px 25px;
	width: 450px;
}

.my-account-2 p {
	color: #b0b0b0;
	padding-left: 80px;
}

.my-account-2 p em {
	color: #e56120;
	font-style: normal;
}

.my-account-2 ul li {
	padding: 5px 0;
	line-height: 24px;
}

.my-account-2 ul li span {
	float: left;
	margin-right: 10px;
	color: #7d7d7d;
	line-height: 24px;
	text-align: right;
	width: 72px;
}

.my-account-2 ul li em {
	float: left;
	margin-right: 10px;
	color: #7d7d7d;
	line-height: 24px;
	text-align: right;
	font-style: normal;
}

.my-account-2 ul li input {
	float: left;
}

.my-account-2 ul li .my-a-text1 {
	border: 1px solid #ababab;
	width: 192px;
	height: 24px;
	padding-left: 10px;
}

.my-account-2 ul li .my-a-text2 {
	border: 1px solid #ababab;
	width: 94px;
	height: 24px;
	padding-left: 10px;
	margin-right: 10px;
}

.my-account-2 ul li .my-a-text3 {
	width: 63px;
	height: 25px;
	line-height: 25px;
	background: url(../images/personal/my-account-1.png) no-repeat;
	border: none;
}

.my-account-2 ul li .checkbox-2 {
	float: left;
	margin-top: 6px;
}

.my-account-2 ul li .my-account-btn1 {
	background: url(../images/personal/my-account-btn1.png) no-repeat;
	width: 161px;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	border: none;
	font-size: 18px;
	text-align: center;
	float: left;
	margin-top: 10px;
	font-family: "Microsoft Yahei";
}

.my-account-2 ul li .checkbox-2 {
	float: left;
	margin: 6px 5px 0 0;
}

.option {
	border: none;
	width: 94px;
	margin: 0 auto;
}

.my-accountDiv1 {
	width: 200px;
	height: 22px;
	line-height: 22px;
	background: transparent;
	position: relative;
	overflow: hidden;
	border: none;
	-webkit-appearance: none;
	z-index: 2;
	border: 1px solid #ababab;
	float: left;
	margin-right: 10px;
}

.my-accountDiv2 {
	top: 0px;
	left: 0px;
	width: 222px;
	height: 22px;
	border: none;
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 3;
	background: url(../images/personal/ps-select1.jpg) 180px no-repeat;
	padding-left: 5px;
}

/*---交易记录css------------------*/
.transaction-record {
	float: left;
	width: 995px;
	height: 774px;
}

.tr1-1 {
	border: 1px solid #e7e7e7;
	color: #6e6e6e;
	font-size: 13px;
}

.tr1-1 ul {
	background: #f4f4f4;
	height: 40px;
}

.tr1-1 li {
	float: left;
	text-align: center;
	line-height: 40px;
}

.tr1-1 dl {
	border-top: 1px solid #e7e7e7;
}

.tr1-1 dl dd {
	float: left;
	margin: 15px 0px;
	height: 40px;
	text-align: center;
	line-height: 42px;
	text-transform: uppercase;
	border-right: 1px solid #ebebeb;
}

.tr1-w1 {
	width: 210px;
}

.tr1-w2 {
	width: 170px;
}

.tr1-w3 {
	width: 210px;
}

.tr1-w4 {
	width: 195px;
}

.tr1-w5 {
	width: 195px;
}

.tr1-co1 {
	color: #9f9f9f;
}

.tr1-co2 {
	color: #747474;
}

.tr1-co3 {
	color: #28a831;
}

.tr1-co4 {
	color: #54b027;
	font-size: 15px;
	font-weight: bolder;
}

.tr1-co5 {
	color: #9f9f9f;
}

/*---我的钱包css------------------*/
.my-wallet {
	float: left;
	width: 995px;
	height: 774px;
}

.my-wallet-1 {
	border: 3px solid #e8e8e8;
	padding: 25px;
}

.my-w1-1 {
	color: #505050;
	font-weight: bolder;
	height: 30px;
	line-height: 30px;
}

.my-w1-2 {
	border-bottom: 1px solid #e8e8e8;
}

.my-w1-2 strong {
	color: #5fcd49;
	font-size: 44px;
}

.my-w1-2 span {
	color: #8e8e8e;
	font-size: 12px;
}

.my-w1-3 {
	margin-top: 25px;
}

.my-w1-3 p {
	float: left;
	width: 130px;
	margin-right: 52px;
	font-size: 15px;
}

.my-w1-3 p strong {
	color: #4f4f4f;
	display: block;
	line-height: 30px;
}

.my-w1-3 .my-wl-btn {
	background: url(../images/personal/my-wallet-btn.png) no-repeat;
	width: 110px;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	border: none;
	font-size: 18px;
	text-align: center;
	float: left;
	margin-top: 10px;
	letter-spacing: 1px;
}

/*---点击提现css------------------*/
.click-withdraw {
	float: left;
	width: 995px;
	height: 774px;
}

.cw1-1 {
	border: 1px solid #e9e9e9;
}

.cw1-1-1 {
	background: #f6f6f6;
	height: 62px;
	line-height: 62px;
}

.cw1-1-1-left {
	float: left;
	width: 337px;
	padding-left: 32px;
}

.cw1-1-1-left strong {
	color: #505050;
	font-size: 16px;
}

.cw1-1-1-left span {
	color: #818181;
}

.cw1-1-1-left span em {
	color: #f40000;
	font-size: 20px;
	font-style: normal;
}

.cw1-1-1-right {
	float: right;
	width: 86px;
	background: url(../images/personal/cw-add.png) left center no-repeat;
	text-align: right;
	margin-right: 20px;
	font-size: 14px;
}

.cw1-1-2 {
	padding: 58px 0 0 132px;
	line-height: 40px;
	color: #8e8e8e;
	font-size: 14px;
	height: 192px;
}

.cw1-1-2 li {
	padding: 5px 0;
}

.cw1-1-2 li span {
	float: left;
	display: block;
}

.cw1-1-2 li .radio1 {
	float: left;
	width: 20px;
	margin-right: 5px;
	margin-top: 10px;
}

.cw1-1-2 li .cw1-text {
	float: left;
	width: 157px;
	border: 1px solid #e8e8e8;
	height: 34px;
	line-height: 34px;
	padding-left: 5px;
	margin-right: 5px;
}

.cw1-1-2 li .cw1-btn {
	background: url(../images/personal/my-wallet-btn.png) no-repeat;
	width: 110px;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	border: none;
	font-size: 18px;
	text-align: center;
	float: left;
	margin-top: 10px;
	letter-spacing: 1px;
	font-family: "Microsoft Yahei";
}