<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加英雄</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div align="center">
    <h2>书名：{{book.titie}}</h2>
    <form action="{% url 'booktest:addhero' book.id %}" method="post">

        <!--英雄名：<input type="text" name="heroname"><br>-->
        <!--技能名：<input type="text" name="content"><br>-->
        <!--性别：<input type="radio" name="gender" checked value="man">男-->
                <!--<input type="radio" name="gender" value="women">女-->
        <!--<input class="btn btn-primary" type="submit">-->

        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="英雄名" name="heroname" aria-describedby="sizing-addon1">
        </div>

        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="技能名" name="content" aria-describedby="sizing-addon2">
        </div>

        性别：<input type="radio" name="gender" checked value="man">男
                    <input type="radio" name="gender" value="women">女<br>
            <input class="btn btn-primary" type="submit">
    </form>
</div>




    <!--jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边)-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!--加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>