{% extends "booktest/base.html" %}

{% block title %}
    <title>投票页</title>
{% endblock %}

{% block containter %}
    <h2>{{polls.vote}}</h2>
    <form  action="{% url 'polls:vote' polls.id %}" method="post">
        <ul>
        {% for i in polls.voteinfo_set.all %}
            {% if forloop.counter == 1 %}
                <li  class=""><input type="radio" checked name="num" value="{{i.id}}">{{i.category}}</li>
            {% else %}
                <li><input type="radio" name="num" value="{{i.id}}">{{i.category}}</li>
            {% endif %}
        {% endfor %}
        </ul>
        <button type="submit">投票</button>
    </form>


    <a href="{% url 'polls:index' %}">返回投票首页</a>

{% endblock %}


