{% extends 'recycling/base.html' %}

{% block title %}
	<title>订单详情</title>
{% endblock %}

{% block mid %}
<meta name="google-site-verification"
	content="MSxPs3zI5vks57VZfstHOD5EVfgQR9Y0nOUHPerhEKQ" />
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link href="/static/css/main.css" type="text/css" rel="stylesheet" />
<link href="/static/css/client.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/jquerypack.js"></script>
<script type="text/javascript" src="/static/js/superslide.js"></script>
<script type="text/javascript" src="/static/js/code.js"></script>


			<div class="logo_bg">
				<div class="logo">
					<div class="logo_nav yahei">
						<ul>
							<li><a href="{% url 'recycling:personal' %}" target="_blank">个人中心</a></li>
							<li class="nav_now"><a href="order-details.html"
								target="_blank">我的订单</a></li>
						</ul>
					</div>
				</div>
			</div>
		<div class="container">
			<div class="order-details">
				<div class="order-details-tit">
					我的订单 <span>> 订单详情</span>
				</div>
				{% for o in order %}

				<div class="order-details-2">
					<div class="order-details-2-1">
						<ul>
							<li class="od1-w1">订单编号</li>
							<li class="od1-w2">提交用户</li>
							<li class="od1-w3">提交时间</li>
							<li class="od1-w3">预约时间</li>
							<li class="od1-w3">回收时间</li>
							<li class="od1-w4">交易地址</li>
							<li class="od1-w3">汇总金额</li>
						</ul>
						<div class="clear"></div>
						<dl>
							<dd class="od1-w1 od1-co1">er{{o.id}}</dd>
							<dd class="od1-w2 od1-co2">{{o.name}}</dd>
							<dd class="od1-w3 od1-co3">{{o.create_time}}</dd>
							<dd class="od1-w3 od1-co3">{{o.appointment_time}}</dd>
							{% if o.over_time %}
								<dd class="od1-w3 od1-co3 ">{{o.over_time}}</dd>
							{% else %}
								<dd class="od1-w3 od1-co3 ">请等待回收人员上门回收</dd>
							{% endif %}
							<dd class="od1-w4 od1-co4">{{o.address}}</dd>
							<dd class="od1-w5 od1-co6 brnone">￥{{o.allgold}}</dd>
						</dl>
						<div class="clear"></div>

					</div>
					<div class="order-details-2-2">
						<ul>
							<li style="width: 500px">回收物品</li>
							<li>碳积分</li>
							<li>碳减排</li>
							<li>交易金额</li>
						</ul>
						<div class="clear"></div>
						{% for i in o.ordergoods_set.all %}
							<dl>
								<dd style="width: 500px">{{i.goodname}}</dd>
								<dd>{{i.integral}}</dd>
								<dd>{{i.carbonreduction}}</dd>
								<dd class="brnone">{{i.goodprice}}元</dd>
							</dl>
						{% endfor %}
					</div>
				</div>
				<br><br><br>
				{% endfor %}
				<div class="order-details-btn1 yahei">返 回</div>
			</div>
		</div>
{% endblock %}
