
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>订单列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="google-site-verification"
	content="MSxPs3zI5vks57VZfstHOD5EVfgQR9Y0nOUHPerhEKQ" />
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link href="/static/css/main.css" type="text/css" rel="stylesheet" />
<link href="/static/css/client.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/code.js"></script>
</head>
<body>

	<!--头部-->
	<div class="head" style="width: 100%" id="page_head">
		<!--LOGO-->

		<div class="top_bg">
			<div class="top">
				<div class="top_left">
					<div class="top_l1">
						<a href="" target="_blank"><img src="/static/images/top_1.png" />手机版</a><span>|</span>
					</div>
					<div class="top_l2">
						<a href="" target="_blank"><img src="/static/images/top_2.png" />武汉</a><span><a
							href="" target="_blank">天津</a><a href="" target="_blank">[更多]</a></span>
					</div>
				</div>
				<div class="top_right">
					<div class="top_r1">
						<a onclick="noteShow()" target="_self">登录</a> <a href=""
							target="_blank">注册</a>
					</div>
					<span>|</span>
					<div class="top_r2">
						<a href="waste-recycling.html" target="_self"><img
							src="/static/images/top_3.png" />订单中心</a>
					</div>
					<span>|</span>
					<div class="top_r3">
						<a href="waste-baskets.html" target="_self"><img
							src="/static/images/top_4.png" />废品筐（0）</a>
					</div>
				</div>
			</div>
		</div>

		<div class="logo_bg">
			<div class="logo">
				<div class="logo_left">
					<a href="/"><img src="/static/images/logo.png" /></a>
				</div>


			</div>
		</div>
		<div class="container">
			<div class="order-list">
				<div class=" order-list-tit">全部订单</div>

				<div class="order-list-2">
					<ul>
						<li class="ol1-w1">订单编号</li>
						<li class="ol1-w2">用户</li>
						<li class="ol1-w3">提交时间</li>
						<li class="ol1-w3">预约时间</li>
						<li class="ol1-w4">交易地址</li>
						<li class="ol1-w5">奖励金额</li>
						<li class="ol1-w5">订单金额</li>
						<li class="ol1-w5">佣金额</li>
						<li class="ol1-w3">操作</li>
					</ul>
					<div class="clear"></div>
					{% for i in order %}
						<dl>
							<dd class="ol1-w1 ol1-co1">er{{i.id}}</dd>
							<dd class="ol1-w2 ol1-co3">{{i.name}}</dd>
							<dd class="ol1-w3 ol1-co4">{{i.create_time}}</dd>
							<dd class="ol1-w3 ol1-co4">{{i.appointment_time}}</dd>
							<dd class="ol1-w4 ol1-co5">{{i.address}}</dd>
							<dd class="ol1-w5 ol1-co6">20元</dd>
							<dd class="ol1-w5 ol1-co7">{{i.allgold}}元</dd>
							<dd class="ol1-w5 ol1-co6">10元</dd>
							<dd class="ol1-w3 ol1-co8 brnone"><a href="{% url 'recycling:okorder' i.id %}">完成订单</a></dd>
						</dl>
					{% endfor %}

					<div class="clear"></div>
				</div>
				<br><br><br><br>
				<div class=" order-list-tit">已完成订单</div>
				<div class="order-list-2">
					<ul>
						<li class="ol1-w1">订单编号</li>
						<li class="ol1-w2">用户</li>
						<li class="ol1-w3">提交时间</li>
						<li class="ol1-w3">预约时间</li>
						<li class="ol1-w4">交易地址</li>
						<li class="ol1-w5">奖励金额</li>
						<li class="ol1-w5">订单金额</li>
						<li class="ol1-w5">佣金额</li>
						<li class="ol1-w3">操作</li>
					</ul>
					<div class="clear"></div>
					{% for i in order2 %}
						<dl>
							<dd class="ol1-w1 ol1-co1">er{{i.id}}</dd>
							<dd class="ol1-w2 ol1-co3">{{i.name}}</dd>
							<dd class="ol1-w3 ol1-co4">{{i.create_time}}</dd>
							<dd class="ol1-w3 ol1-co4">{{i.appointment_time}}</dd>
							<dd class="ol1-w4 ol1-co5">{{i.address}}</dd>
							<dd class="ol1-w5 ol1-co6">20元</dd>
							<dd class="ol1-w5 ol1-co7">{{i.allgold}}元</dd>
							<dd class="ol1-w5 ol1-co6">10元</dd>
							<dd class="ol1-w3 ol1-co8 brnone">订单以完成</dd>
						</dl>
					{% endfor %}

					<div class="clear"></div>
				</div>

			</div>

		</div>

	</div>
	<!--container end-->

	<!--底部-->
	<div class="foot_bg">
		<div class="foot">
			<div class="foot_left yahei">
				<div class="foot_l1">
					<a href="../about-us.html#zd_1" target="_blank">联系我们</a><a
						href="../about-us.html#zd_2" target="_blank">关于我们</a><a
						href="../about-us.html#zd_3" target="_blank">帮助中心</a>
				</div>
				<p>
					© 2015 huishouge.cn All Rights Reserved</br>版权所有：格林美股份有限公司
					粤ICP备05063494号-4
				</p>
			</div>
			<div class="foot_right yahei">
				<ul>
					<li><a onclick="codeShow()" target="_self"><img
							src="/static/images/foot_ico1.png" /><span>关注微信</span></a></li>
					<li><a onclick="ioscodeShow()" target="_self"><img
							src="/static/images/foot_ico2.png" /><span>iOS下载</span></a></li>
					<li class="mrnone"><a onclick="androidcodeShow()"
						target="_self"><img src="/static/images/foot_ico3.png" /><span>安卓下载</span></a></li>
				</ul>
			</div>
			<div class=" clear"></div>
		</div>
	</div>
</body>
</html>