{% extends 'recycling/base.html' %}
{% block title %}
<title>回收哥</title>
{% endblock %}

{% block mid %}
	<meta name="google-site-verification"
	content="MSxPs3zI5vks57VZfstHOD5EVfgQR9Y0nOUHPerhEKQ" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<link href="/static/css/main.css" type="text/css" rel="stylesheet" />
	<link href="/static/css/index.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="/static/js/jquerypack.js"></script>
	<script type="text/javascript" src="/static/js/superslide.js"></script>
	<script type="text/javascript" src="/static/js/code.js"></script>
	<script type="text/javascript" src="/static/js/recycling-brother-banner.js"></script>
		<!--BANNER END-->

	<!--头部结束-->
	<div class="container">
		<div class="rb1 yahei">
			<div class="rb1-1">
				<strong>回收哥专用下载</strong>
				<ul>
					<li><img src="/static/images/recycling-brother/qr-code-ios.png"
						class="codeimg">
							<div>
								<img src="/static/images/recycling-brother/rb-ios.png"> <span>iOS下载</span>
							</div></li>
					<li><img src="/static/images/recycling-brother/qr-code-ios.png"
						class="codeimg">
							<div>
								<img src="/static/images/recycling-brother/rb-android.png">
									<p>安卓下载</p>
							</div></li>
				</ul>
			</div>
			<div class="rb1-2">
				<strong>关于回收哥介绍</strong>
				<div class="rb1-2-1">
					<img src="/static/images/recycling-brother/rb1-img1.jpg" class="rb1-img1"><img
						src="/static/images/recycling-brother/rb1-img2.jpg" class="rb1-img2">
							<div class="clear"></div>
							<p>
								2014年6月7日下午，全国政协主席俞正声走进格林美电子废弃物绿色处理车间，检阅电子废弃物绿色拆解过程，走近电视机拆解岗位，和一线员工亲切交谈，关切关怀格林美员工的生活与工作情况，令全体员工倍受鼓舞。俞主席赞叹：“没有想到短短八年，格林美发展得这么好！没有想到格林美废物处理的物理技术如此先进！”
							</p>
				</div>
				<div class="rb1-2-1">
					<img src="/static/images/recycling-brother/rb1-img3.jpg" class="rb1-img3">
						<div class="clear"></div> <span>成为回收哥，赚钱更容易</span>
						<p>1.外出回收不用撒网捞鱼，可以利用格林美APP推送的老百姓回收信息，实现点对点回收，提高效率，提高当日生意量；</p>
						<p>2.减少中间二道贩子，实现回收哥将废品直接到格林美，将原本二道贩子的价差增加部分到个体户，让回收哥赚更多的钱。</p>
						<p>3.由格林美垫付废品费用给老百姓，回收哥赚取佣金；抢单模式鼓励勤奋的、服务好的回收哥做大做强，造就回收哥的幸福生活，吸引更多的人加入创业就业。</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>

	</div>
{% endblock %}