{% extends 'recycling/base.html' %}

{% block title %}
	<title>废品筺</title>
{% endblock %}

{% block mid %}
<meta name="google-site-verification"
	content="MSxPs3zI5vks57VZfstHOD5EVfgQR9Y0nOUHPerhEKQ" />
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link href="/static/css/main.css" type="text/css" rel="stylesheet" />
<link href="/static/css/index.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/jquerypack.js"></script>
<script type="text/javascript" src="/static/js/superslide.js"></script>
<script type="text/javascript" src="/static/js/code.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
            $("#wb1-address").click(function(){
                $(".wb1-address").toggle();
            });
        });
    </script>
	{% if error %}
		<script>alert("{{error}}")</script>
	{% endif %}


			<div class="logo_bg">
			<div class="logo">
				<div class="wb_nav yahei">
					<ul>
						<li class="submit">提交订单</li>
						<li class="complet">交易完成</li>
					</ul>
				</div>

			</div>
		</div>

		<!--LOGO END-->
		<form  method="post">
			{% csrf_token %}
		<div class="container">

			<div class="wb1">
				<ul>
					<li><span>交易地址：</span>
						<div class="wb1-1">
							<input type="text" class="input-dizhi" name="address" value="{{usermsg.address}}" >
						</div>
						<div class="wb1-Choose">
							<p id="wb1-address">选择地址</p>
							<div class="wb1-address hide">
								<dl>
									<dd>广东省深圳市南山区科技园金融基地大厦</dd>
									<dd>广东省深圳市南山区科技园科发路25号</dd>
								</dl>
							</div>
						</div></li>
					<li><div class="wb1-2">
							<span>联系人姓名：</span><input name="name" type="text" value="{{usermsg.name}}" class="input-text">
						</div>
						<div class="wb1-2">
							<span>联系电话：</span><input name="phone" type="text" value="{{usermsg.telephone}}" class="input-text">
						</div></li>
					<li><div class="wb1-2">
							<span>预约日期：</span><input name="date" type="text" placeholder="收购日期:年-月-日" class="input-text">
						</div>
						<div class="wb1-2">
							<span>预约时间：</span><input name="time" type="text" placeholder="具体时间" class="input-text">
						</div></li>
				</ul>
			</div>
			<div class="wb2 yahei">
				<div class="wb2-1">
					<ul>
						<li class="wb2-1-w1">商品名</li>
						<li class="wb2-1-w2">价格</li>
						<li class="wb2-1-w2">碳积分</li>
						<li class="wb2-1-w2">碳减排</li>
						<li class="wb2-1-w2">操作</li>
					</ul>
				</div>
				{% for i in cart %}
				<div class="wb2-2">
					<ul>

						<li class="wb2-2-w1"><input type="checkbox"
							name="CheckboxGroup1" value="复选筐" id="CheckboxGroup1" /></li>
						<li class="wb2-2-w2">
							<div style="margin: 30px 0">
								{{i.goodname}}
							</div></li>
						<li class="wb2-2-w3 red">￥{{i.goodprice}}</li>

						<li class="wb2-2-w5">{{i.integral}}分</li>
						<li class="wb2-2-w6">{{i.carbonreduction}}分</li>
						<li class="wb2-2-w7 blue"><a href="{% url 'recycling:removebasket' i.id %}">删除</a></li>

					</ul>
				</div>
			{% endfor %}
			</div>
			<div class="wb3 yahei">
				<div class="wb3-1">
					<p>
						<input type="checkbox" name="CheckboxGroup1" value="复选筐"
							id="CheckboxGroup2" />
					</p>
					<span>全选</span> <span class="blue">删除选择</span> <span class="blue">清空废品筺</span>
				</div>
				<div class="wb3-2">
					合计:<span>￥{{total}}</span>
				</div>
				<div class="clear"></div>

			</div>
			<div class="wb4 yahei">碳积分：{{allintegral}}分</div>
			<div class="clear"></div>
			<div class="wb4 yahei">碳减排：{{allcarbonreduction}}千克</div>
			<div class="clear"></div>
			<div class="wb5 yahei"><button type="submit">提交订单</button></div>
			<div class="clear"></div>
		</div>
		</form>



		<!--BANNER END-->

	<!--头部结束-->
	<script>
    window.onload = function () {
        var clientHeight = window.screen.availHeight;
        var diy_scroll = document.querySelector(".diy_scroll");
        diy_scroll.style.height = clientHeight - 43 + "px";
        $('#select_center_y').hide();
        $('#select_center_z').hide();
    };
    $('#select_checkbox').click(
            function () {
                $('#select_center_y').show();
            }
    )
    $('#select_center_y').click(
            function () {
                $('#select_center_z').show();
            }
    )
    $('#select_center_z').click(
            function () {
                $('#select_center_y').hide();
                $('#select_center_z').hide()
            }
    )
</script>
{% endblock %}